@import url(https://fonts.googleapis.com/css?family=Lato:100);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  background: #555;
  cursor: pointer;
  display: inline-block;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #666;
}

.btn:active {
  background: #444;
}
